.bg-login-image{

    background: url("../img/devet.jpg");

    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    border: 10px;
    
}

.sizeDiv{
    width: 40vw;
}